page-map {
  #parent{
    position:absolute;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}
#map{
    position:relative;
    float:left;
    height:50%;
    width:100%;
}
#directions{
    position:relative;
    float:left;
    height:50%;
    width:100%;
}

#resize{
	position:absolute;
	top:-10%;
	left:45%;
}

}
