<ion-header>

  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>
      {{ 'MAP_TITLE' | translate }}
    </ion-title>

    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="options"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>




 
<ion-content>
  <div id="parent">
   <div #map id="map"></div> 

   <button ion-button round color="secondary" onclick="window.open('http://maps.google.com/?q=Vidhna Soudha')" id="mapButton">View on Maps</button>
    <!-- <div #directions id="directions">
      
      <button ion-button icon-only #up id="up" (click)="smallerMap()" *ngIf="isCenterMap">
      <ion-icon name="arrow-round-up"></ion-icon>
      </button>
      

      <button ion-button icon-only #down id="down" (click)="biggerMap()" *ngIf="isCenterMap">
      <ion-icon name="arrow-round-down"></ion-icon>
      </button>


      <button ion-button icon-only class="centerButton" (click)="centerMap()" *ngIf="isBiggerMap">
      <ion-icon name="arrow-round-up"></ion-icon>
      </button>
      

      <button ion-button icon-only class="centerButton" (click)="centerMap()" *ngIf="isSmallerMap">
      <ion-icon name="arrow-round-down"></ion-icon>
      </button>

      <button ion-button round color="secondary" (click)="openMaps()">View on Maps</button>

      

      

    </div>  -->
  </div>
</ion-content>